@font-face {
    font-family: "Young Serif";
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Outfit Variable";
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

body {
    background-color: #F3E5D8;
    color: var(--stone-600);
    font-family: "Outfit Variable", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    min-height: 100dvb;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: min(100%, 46rem);
    margin-inline: auto;
    background-color: #fff;
}

.hero__img {
    height: auto;
}

.top__title+* {
    margin-block-start: 1.5rem;
}

.content__title+* {
    margin-block-start: 1.375rem;
}

.top__title {
    font-size: 2.125rem;
    line-height: 1;
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: var(--stone-900);
    margin-block-start: 2.5rem;
}

.top-details {
    background-color: var(--rose-50);
    margin-block-start: 1.75rem;
    padding-block: 1.875rem;
    padding-inline: 1.625rem;
    border-radius: 0.5rem;
}

.top-details__title {
    color: var(--rose-800);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
}

.top-details ul {
    margin-block-start: 1rem;
}

.content:not(:last-of-type) {
    padding-block-end: 2rem;
    border-bottom: 1px solid var(--stone-150);
}

.content:not(:first-of-type) {
    padding-block-start: 2rem;

}

.content__title {
    font-size: 1.75rem;
    line-height: 1;
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: var(--brown-800);
}

.list {
    padding-inline-start: 1.75rem;
}

.list__item {
    padding-inline-start: 1rem;
    position: relative;
}

.list__item:not(:first-of-type) {
    margin-block-start: 0.5rem;
}

.list-ul {
    list-style-type: none;
}

.list-ul .list__item::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: currentColor;
    border-radius: calc(1px/0);
    inset-inline-start: -1rem;
    inset-block-start: calc(50% - 2px);
}

.top-details .list__item::before {
    background-color: var(--rose-800);
}

.content .list__item::before {
    background-color: var(--brown-800);
}

.list-ol .list__item::marker {
    color: var(--brown-800);
    font-weight: 700;
    margin-inline-end: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-block-start: 1rem;
}

.table__row:not(:first-of-type) {
    border-top: 1px solid var(--stone-150);
}

.table__head {
    font-weight: 400;
    text-align: left;
    padding-inline-start: 1.875rem;
}

.table__head,
.table__data {
    width: 50%;
    padding-block: 0.8125rem;
}

.table__data {
    font-weight: 700;
    color: var(--brown-800);
    padding-inline-start: 0.625rem;
}

@media(width >=768px) {
    .container {
        margin-block: 7.8125rem;
        padding-block: 2.5rem 2rem;
        padding-inline: 2.5rem;
        border-radius: 1.25rem;
        box-shadow: 0 0.025rem 0.5rem rgb(0 0 0 / 0.1);
    }

    .hero {
        border-radius: 0.625rem;
        overflow: hidden;
    }

    .top-title {
        font-size: 2.5rem;
    }

}

@media (width < 768px) {
    .container {
        padding-block-end: 2rem;
        padding-inline: 2rem;
    }

    .hero {
        margin-inline: calc(50% - 50vw);
    }

    .top-details {
        padding-block: 1.5rem;
        padding-inline: 1.5rem;
    }

    .card {
        padding-block: 1.5rem;
        padding-inline: 1.5rem;
        margin-inline: auto;

    }

    .top-title {
        font-size: 2.125rem;
    }
}

@media (any-hover: hover) {
    .card__link:hover {
        color: #333;
        background-color: #c5f82a;
    }
}